<div ng-controller="carDetailsCtrl">
<div class="col-md-10">

<div class="alert alert-success" ng-hide="update_success">
	<strong>Car details updated successfully</strong>
</div>
</div>

<!-- PROFILE -->
<div class="col-md-1">
</div>
<div class="col-md-4">
	<div class="row">
		
		</div>
		&nbsp &nbsp
		
		<form name ="cardetails">
			<div class = "row">
				<div class="form-group col-xs-6">
					MAKE:									
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-6">
				<select aria-label="Make" name="Make" ng-model="formDetails.make">
				<option value="" selected="">Choose Vehicle Make</option>
				<option value="Ashok Leyland">Ashok Leyland</option>
				<option value="Audi">Audi</option>
				<option value="BMW">BMW</option>
				<option value="Maruti Suzuki">Maruti Suzuki</option>
				<option value="Mahindra">Mahindra</option>
				<option value="Chevrolet">Chevrolet</option>
				<option value="Ford">Ford</option>
				<option value="Mercedes Benz">Mercedes Benz</option>
				<option value="Mini">Mini</option>
				<option value="Nissan">Nissan</option>
				<option value="Skoda">Skoda</option>
				<option value="Fiat">Fiat</option>
				</select>
				</div>
				<br>
			</div>
			<hr/>
			<div class="row">
				
				<div class="form-group col-xs-6">
					YEAR:									
				</div>
			</div>
			<div class="row">
			<div class="form-group col-xs-6">
			<select aria-label="Year" name="Year" ng-model="formDetails.year" required>
			<option value="" selected="">Choose Vehicle Year</option>
			<option value="2010">2010</option>
			<option value="2011">2011</option>
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
			</select>
			</div>
			<br>
		</div>			
			<hr/>
				<div class="row">
				
				<div class="form-group col-xs-6">
					COLOR:									
				</div>
			</div>
			<div class="row">
			<div class="form-group col-xs-6">
			<select aria-label="Color" name="Color" ng-model="formDetails.Color" required>
			<option value="" selected="">Choose Vehicle Year</option>
			<option value="Black">Black</option>
			<option value="White">White</option>
			<option value="Grey">Grey</option>
			<option value="Silver">Silver</option>
			<option value="Yellow">Yellow</option>
			</select>
			</div>
			<br>
		</div>			
			<hr/>
			<div class="row">
				
				<div class="form-group col-xs-6">
					LICENSE PLATE NUMBER:									
				</div>
			</div>	
			<div class="row">
				<div class="form-group col-xs-6">
					<input class="form-control input-sm" type="tel" id="license" name="license" placeholder="License Plate Number" ng-model="formDetails.license" required />
				</div>	
			</div>
			<hr/>
			<div class="row" align = "center">
				<input type="submit" class="btn btn-info" value="SAVE & CONTINUE" ng-click="saveAndContinue()"></input>
			</div>
			<hr/>
		</form>
	</div>
</div>

<!-- BLANK -->
<div class="col-md-3">
</div>
</div>
</div>