<html lang="en">
<head>
<meta charset="UTF-8">
<title>UBER</title>

<!-- JS -->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>


<!-- ANGULAR CUSTOM -->

<!-- STYLE SHEETS CUSTOM -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="//code.angularjs.org/1.2.26/angular-route.js"></script>
    <script src="js/controllers/SidebarController.js"></script>
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Welcome</title>
  </head>

  <body ng-app="driverProfile" ng-controller = "SidebarController" >
  <div  >
  <!-- HEADING -->
  <header class="bgimage_1">
		<div class="container-fluid">
			<div class="row">
				<h2 class="heading">U B E R</h2>
				
			</div>
		</div>
	</header>
	
  	
  </div>

  <div class="container-fluid">
  <!-- BLANK -->
<div class="col-md-1"></div>

<!-- SIDE MENU -->

<div class="col-md-2">
	<div>

		<div class="profile-sidebar_2">

			<!-- SIDEBAR MENU -->

			<div class="profile-userpic">
				<img src="../images/default.jpeg" alt="">
				<h4 align="center"><strong><%=email%></strong></h4>
			</div>

			<hr />




  		
  		<div class="profile-usermenu">
  		<ul class="nav">
  		
  		<!-- MY RideRequests -->
  		<li><a href="/driverRides"> Ride Requests
  		</a></li>
  		
  		
  		<!-- MY Profile -->
  		<li><a href="#/myProfile"> My Profile
  		</a></li>
  		
  		<!-- Car Details -->
  		<li><a href="#/carDetails"> Car Details
  		</a></li>
  				
  		
  		<!-- Document Upload -->
  		<li><a href="#/uploadDocument"> Upload Document
  		</a></li>		
  		
  		
  		<!-- INTRO VIDEO -->
  		<li><a href="#/introVideo"> Introduction Video
  		</a></li>
  		
  		
  		<!-- RIDE HISTORY -->
  		<li><a href="/rideHistory"> Ride History
  		</a></li>
  		
  		
  		<!-- BILLING HISTORY -->
  		<li><a href="#/billHistory"> Billing History
  		</a></li>
  		
  		<!-- LOGOUT -->
  		<li><a href="/driverlogout"> Logout
  		</a></li>		
  	</ul>
  	</div>
  	</div>
  </div>
  <!-- END MENU -->
  </div>
  
  <div class="col-md-1">
</div>

<div class="col-md-8">
<div ng-view> </div>
</div>

<!-- BLANK -->

</div>
</body>
</html>