<html lang="en">
<head>
<meta charset="UTF-8">
<title>UBER</title>
<base href="/">

<!-- JS -->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>



<!-- ANGULAR CUSTOM -->
<script src="js/controllers/driverSignupController.js"></script>
<!-- STYLE SHEETS CUSTOM -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
<script src="http://maps.google.com/maps/api/js?libraries=places" type="text/javascript"></script>
</head>

<body style="background : #000000" ng-app ="uberApp" ng-controller ="driverSignupCtrl">


<div  >
<!-- HEADING -->
<header>

	<div class="row">
		<h2 class="heading" >U B E R</h2>		
	</div>

</header>		
</div>

<div class="container">
<!-- BLANK -->
<div class="col-md-4">
</div>
<!-- SIDE MENU --> 


<!-- PROFILE -->
<div class="col-md-4">
	<div class="row">
		<h2 align = "center"> <font color="#7CD1FF">SIGN IN</font></h2>
		<form>
		
			<div class = "row">
				<div class="form-group col-xs-3">
					<font color="#FFFFFF">EMAIL</font> 									
				</div>
				<div class="form-group col-xs-10">
					<input class="form-control input-sm" type="text" id="email" name="email" placeholder="Email Address" ng-model="email" required />												
				</div>					
				</div>

				<div class = "row">
			<div class="form-group col-xs-3">
					<font color="#FFFFFF">PASSWORD</font> 									
				</div>
				
				<div class="form-group col-xs-10">				
					<input class="form-control input-sm" type="password" id="password" name="password" placeholder="Password" ng-model="password" required />
				</div>						
			</div>	
			<div>
			 <input type="checkbox" name="vehicle" value="Remember Me"> <font color="#FFFFFF">Remember Me</font> </br>	
			 </div>
			 <br	>
			 <div>
			 <input type="submit" class="btn btn-default"  style="background-color: #1FBAD6; color:#FFFFFF ;height:50px; width:350px" value="SIGN IN" ng-click="driverSignin()"></input>
			 </div>
			 <p align ="center">
			 <input type="submit" name= "Forgot Password" class="btn btn-link" value = "Forgot Password">
			 </p>
		</form>
		
		 <div class="alert alert-success col-md-12" id="success-alert1" style="display: none ">
			<center> <strong> Successful Sign In.Going to Driver profile page</strong></center>
			</div>
			
			<div class="alert alert-danger col-md-12" id="failure-alert" style="display: none ">
			<center> <strong> Username and password did not match. </strong></center>
			</div>
			
			<div class="alert alert-danger col-md-12" id="failure-alert_1" style="display: none ">
			<center> <strong> Driver Not Approved! </strong></center>
			</div>
	</div>
</div>

<!-- BLANK -->
<div class="col-md-4">
</div>
</div>
</body>
</html>