<html lang="en">
<head>
<meta charset="UTF-8">
<title>UBER</title>
<base href="/">

<!-- JS -->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>



<!-- ANGULAR CUSTOM -->
<script src="js/controllers/driverSignupController.js"></script>

<!-- STYLE SHEETS CUSTOM -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
</head>

<body ng-app ="uberApp" ng-controller ="driverSignupCtrl">

<div  >
<!-- HEADING -->
<header class="bgimage_1">
<div class="container" >
	<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	<h2 class="heading" >U B E R </h2>
	</div>
	<div class="col-md-4">
	<p class="heading" align="right" vertical-align: middle; style="color:#FFFFFF">
	NOT INTERESTED IN DRIVING? <button type="button" class="btn btn-default" ng-click="riderSignUp();"> SIGN UP TO RIDE </button>
	</p>
	</div>

	</div>		
	</div>

</header>		
</div>


<div class="container-fluid">
<!-- BLANK -->
<div class="col-md-8">
<img src="../images/driver_signup.jpg" style="height:100%; width:100%"/>

</div>
<!-- SIDE MENU --> 


<!-- PROFILE -->
<div class="col-md-4">

<div class="panel panel-default">
<div class="panel-heading">
	<div class="row">
		<h2 align = "center"> <font color="#09091A">SIGN UP TO DRIVE</font></h2>
		<div class="row" align = "center">
		
		<button type="button" class="btn btn-default" style="background-color: #09091A; color:#FFFFFF; width:260px;" ng-click="driverSigninpage()";>
     		<div class="logoimage_1"> <p style="padding-left:29px"> ALREADY HAVE AN ACCOUNT? </p> </div>
      	</button>
		<br/>
		<br>
		<p align="center" >OR CREATE A NEW ACCOUNT</p>
	</div>
		
	<div class="panel-body">
		<form name="driverSignup">
		<div class = "row">
		<div class="form-group col-xs-6">
				<input class="form-control input-sm"  type="text" id="firstname" name="firstname" placeholder="First Name" ng-model="firstname" required />												
			</div>		
			
			
			<div class="form-group col-xs-6">				
				<input class="form-control input-sm" type="text" id="lastname" name="lastname" placeholder="Last Name" ng-model="lastname" required />								
			</div>							
		</div>
		
		
			<div class = "row">
				<div class="form-group col-xs-12">
					<input class="form-control input-sm" type="email" id="email" name="email" placeholder="name@example.com" ng-model="email" required />		
				<div role="alert">
					<span style="color:red;" class="error" ng-show="driverSignup.email.$error.email">Not valid email!</span>										
				</div></div>					
				</div>
				
				<div class = "row">
				<div class="form-group col-xs-12">				
					<input class="form-control input-sm" type="text" id="mobile" name="mobile" placeholder="Phone" ng-model="mobile" required ng-minlength="10" ng-maxlength="10" ng-pattern="^[0-9]$"/>
					<div role="alert">
							<span style="color:red;" class="error" ng-show="driverSignup.mobile.$error.minlength">Invalid mobile number</span>
							<span style="color:red;" class="error" ng-show="driverSignup.mobile.$error.maxlength">Invalid mobile number</span>
						</div>								
				</div>		
				</div>

				<div class = "row">
				<div class="form-group col-xs-12">				
					<input class="form-control input-sm" type="password" id="password" name="password" placeholder="Password (Atleast 5 Characters)" ng-model="password" required ng-minlength="5"/>
					<div role="alert">
							<span style="color:red;" class="error" ng-show="driverSignup.password.$error.minlength">Too short!</span>
				    </div>
				</div>	
				</div>
				
				<div class = "row">
				<div class="form-group col-xs-12">				
					<input class="form-control input-sm" type="text" id="address" name="address" placeholder="Address" ng-model="address" required />
				</div>						
				</div>			
				<div class = "row">
				<div class="form-group col-xs-12">				
					<input class="form-control input-sm" type="text" id="city" name="city" placeholder="City" ng-model="city" required />
				</div>						
				</div>
				
				<div class = "row">
				<div class="form-group col-xs-12">				
					<input class="form-control input" type="text" id="zip" name="zip" placeholder="94103 or 12345-5678" ng-model="zip" required ng-pattern="/^[0-9]{5}(-[0-9]{4})?$/"/>
						<div role="alert">
						<span style="color:red;" class="error" ng-show="driverSignup.zip.$error.minlength">Invalid postal code.</span>
						</div>
				</div>
			</div>	
				
				<div class = "row">
				<div class="form-group col-xs-10">	
				<select aria-label="State" name="state" ng-model="state">
					<option value="" selected="">Select</option>
					<option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="DC">DC</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
				</select>
			</div>		
		</div>	
			
						
			<div class="row" align="center">
				<div class="form-group col-xs-12">				
			
				<input type="submit" class="btn btn-info"  style="height:30px; width:100%" value="CREATE ACCOUNT" ng-click="driverSignUp()" ng-disabled="driverSignup.$invalid"></input>
				</div></div>
			<br />
			
			<div class="alert alert-success col-md-12" id="success-alert1" style="display: none ">
			<center> <strong> Successful SIgn up.Please login to proceed</strong></center>
			</div>
			
			<div class="alert alert-success col-md-12" id="failure-alert" style="display: none ">
			<center> <strong> Email ID already exists. Please enter a correct Email. </strong></center>
			</div>
			
			
		<p align="center">By proceeding, I agree that Uber or its representatives may contact me by email, phone, or SMS (including by automatic telephone dialing system) at the email address or number I provide, including for marketing purposes. I have read and understand the relevant <font color="#7CD1FF">Driver Privacy Statement.</font> 
		<br><br>Stated earnings where location is not specified are based on median national earnings of partners in the past month. Actual earnings may vary depending on time of day, location and other factors</p>

		</form>
		<div>
	
		</div>
	</div>

	
	</div>
	
	
</div>

<!-- BLANK -->

</div>
</div>
</div>
</body>
</html>