<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>UBER</title>
      <base href="/">
      <script src="libs/angular/angular.min.js"></script>
      <script src="libs/angular-route/angular-route.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
      <!-- ANGULAR CUSTOM -->
      <script src="js/controllers/adminController.js"></script>
      <script src="js/services/angular-local-storage.js"></script>
            
      <!-- STYLE SHEETS CUSTOM -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
   </head>
   <body ng-app ="uberApp" ng-controller ="AdminController" ng-init="getAllRiders();">
      <div>
         <!-- HEADING -->
         <header class="bgimage_1">
            <div class="container-fluid">
               <div class="row">
                  <h2 class="heading">U B E R</h2>
               </div>
            </div>
         </header>
      </div>
      <br/>
      <div>         
         <header >
            <div class="container-fluid" align="center">
               <button class="btn btn-warning" ng-click="getAdminDashboardPage();">Home Page</button>              
               <button class="btn btn-success">Logout  <%= firstname %> &nbsp <%= lastname%></button>
            </div>
         </header>
      </div>
      
      <div class="container-fluid">
         <!-- BLANK -->
         <div class="col-md-3">
         </div>
         <!-- PROFILE -->
         <div class="col-md-6" align="center">
            <div class="row">      
               <h3 align = "center"> <strong>ADMIN DASHBOARD</strong> </h3><hr/>                        
            </div>            
            
      </div>
   </body>
</html>