<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>UBER</title>
      <base href="/">
      <script src="libs/angular/angular.min.js"></script>
      <script src="libs/angular-route/angular-route.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
      <!-- ANGULAR CUSTOM -->
      <script src="js/controllers/adminController.js"></script>
      <!-- STYLE SHEETS CUSTOM -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
   </head>
   <body ng-app ="uberApp" ng-controller ="AdminController" ng-init="getAllDrivers();">
      <div>
         <!-- HEADING -->
         <header class="bgimage_1">
            <div class="container-fluid">
               <div class="row">
                  <h2 class="heading">U B E R</h2>
               </div>
            </div>
         </header>
      </div>
      <br/>
      <div>         
         <header >
            <div class="container-fluid" align="center">
               <button class="btn btn-warning" ng-click="getAdminDashboardPage();">Home Page</button>              
               <button class="btn btn-success">Logout  <%= firstname %> <%= lastname%></button>
            </div>
         </header>
      </div>
      
      <div class="container-fluid">
         <!-- BLANK -->
         <div class="col-md-3">
         </div>
         <!-- PROFILE -->
         <div class="col-md-6" align="center">
            <div class="row">      
               <h3 align = "center"> <strong>ADMIN DASHBOARD</strong> </h3><hr/>
               <h2 align> <strong>DRIVER DETAILS</strong> </h2>               
            </div>            
            <hr/>            
            <div class="row" align="center">p
            	<h4 align> <strong>SEARCH OPTIONS</strong> </h4>
            	<label>All <input class="form-control input-sm" ng-model="search.$"></label> <br/>
            	<label>First Name <input class="form-control input-sm" ng-model="search.firstname"></label>
            	<label>Last Name <input class="form-control input-sm" ng-model="search.lastname"></label>
            	<label>Phone<input class="form-control input-sm" ng-model="search.phone"></label>
            	
            	<br>
				<label>City<input class="form-control input-sm" ng-model="search.city"></label>
				<label>ZipCode<input class="form-control input-sm" ng-model="search.zip"></label>
				<label>State <input class="form-control input-sm" ng-model="search.state"></label><br>					
            </div>
            <div class="row">
               <h3 align> <strong>DRIVER DETAILS</strong> </h3>
               <br/>
               <table class = "table table-striped hover">
                  <tr>                     
                     <th colspan="1">#</th>
                     <th colspan="1">Name</th>
                     <th colspan="1">Email Address</th>
                     <th colspan="1">City</th>
                     <th colspan="1">Zip</th>
                     <th colspan="1">State</th>
                     <th colspan="1">Phone number</th>
                  </tr>
                  <tbody>
                     <tr ng-repeat="driver in allDriversList | filter:search" >                      
                        <td>{{$index+1}}</td>
                        <td>{{driver.firstname}} {{driver.lastname}}</td>
                        <td>{{driver.email}}</td>
                        <td>{{driver.city}}</td>
                        <td>{{driver.zip}}</td>
                        <td>{{driver.state}}</td>
                        <td>{{driver.mobile}}</td>
                     </tr>                     
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>