<html lang="en">
<head>
<meta charset="UTF-8">
<title>UBER</title>
<base href="/">

<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<!-- ANGULAR CUSTOM -->
<script src="js/controllers/frontpageController.js"></script>

<!-- STYLE SHEETS CUSTOM -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>

</head>

<body ng-app ="uberApp" ng-controller ="frontpageCtrl" ng-init="getRiderDetails();">
<div>
	<!-- HEADING -->
	<header class="bgimage_1">
		<div class="container-fluid">
			<div class="row">
				<h2 class="heading">U B E R</h2>
				
			</div>
		</div>
	</header>
	<div class="alert alert-success col-md-12" id="success-alert" style="display: none ">

                <center> <strong> Your Profile has been updated! </strong></center>

             </div>
</div>

<div class="container-fluid">

<!-- BLANK -->
<div class="col-md-1"></div>

<!-- SIDE MENU -->

<div class="col-md-2">
	<div>
		<div class="profile-sidebar_2">
			<!-- SIDEBAR MENU -->
			<div class="profile-userpic">
				<img src="../images/default.jpeg" alt="">
				<h4 align="center"><strong><%=firstname%>&nbsp<%=lastname%></strong></h4>
			</div>
			<hr />

			<div class="profile-usermenu">
				<ul class="nav">

					<!-- BOOK A RIDE -->
					<li><a href="/bookRide"> Book Ride </a></li>

					<!-- MY TRIPS -->
					<li><a href="/tripsPage"> My Trips </a></li>

					<!-- VIEW MY PROFILE -->
					<li><a href="/homePageRider"> Profile </a></li>

					<!-- PAYMENT -->
					<li><a href="/paymentPage"> Payment </a></li>


					<!-- FREE RIDES -->
					<li><a href="#"> Free Rides </a></li>


					<!-- LOGOUT -->
					<li><a href="/logout"> Logout </a></li>

				</ul>
			</div>
		</div>
	</div>
	<!-- END MENU -->
</div>
<!-- PROFILE -->
<div class="col-md-1">
</div>
<div class="col-md-7">
	<div class="row">
		<h3 align = "center"> <strong>PROFILE</strong> </h3>
		<hr/>
		<h4 ><strong> General Information </strong> </h4>
		<hr/>
		
		<form name= "homePageRider">
			<div class = "row">
				<div class="form-group col-xs-2">
					Name:									
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-3">
					<input class="form-control input-sm" type="text" id="firstName" name="firstname" placeholder="First Name" ng-model="formDetails.firstname" required />												
				</div>
				<div class="form-group col-xs-3">				
					<input class="form-control input-sm" type="text" id="lastName" name="lastname" placeholder="Last Name" ng-model="formDetails.lastname" required />								
				</div>		
			</div>
			<hr/>
			<div class="row">
				
				<div class="form-group col-xs-2">
					Address:									
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-6">
					<input class="form-control input-sm" type="text" id="address" name="address" placeholder="Address" ng-model="formDetails.address" required />								
				</div>
				
							
			</div>
			<div class="row">
			<div class="form-group col-xs-2">
					<input class="form-control input-sm" type="text" id="city" name="city" placeholder="City" ng-model="formDetails.city" required />
				</div>	
				<div class="form-group col-xs-2">
					<input class="form-control input-sm" type="text" id="zipcode" name="zipcode" placeholder="Zip Code" ng-model="formDetails.zipcode" required ng-pattern="/^[0-9]{5}(-[0-9]{4})?$/"/>
						<div role="alert">
					<span style="color:red;" class="error" ng-show="homePageRider.zipcode.$error.pattern">Invalid postal code!</span>
					</div>
						
				</div>	
				
					<div class="form-group col-xs-2">	
				<select aria-label="State" name="state" ng-model="formDetails.state" required>
					<option value="" selected="">Select</option>
					<option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="DC">DC</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
				</select>
				</div>		

				
								
			</div>		
				
			<hr/>
			<div class="row">
				
				<div class="form-group col-xs-4">
					Phone Number:									
				</div>
			</div>	
			
			
			<div class="row">
				<div class="form-group col-xs-4">
					<input class="form-control input-sm" type="text" id="phone" name="phone" placeholder="Phone" ng-model="formDetails.phone" required ng-pattern="/^[0-9]{10}$/"/>
						<div role="alert">
						<span style="color:red;" class="error" ng-show="homePageRider.phone.$error.pattern">Invalid Mobie number</span>
						</div>
				</div>		
			</div>
			<hr/>
			
			
			
			<div class = "row">
				<div class="form-group col-xs-4">
					Profile Photo:									
				</div>
				<div class="form-group col-xs-2">
																		
				</div>					
				
				<div class="form-group col-xs-2">
					Password:									
				</div>
				
				<div class="form-group col-xs-3">				
					<input class="form-control input-sm" type="password" id="password" name="password" placeholder="*********" ng-model="formDetails.password" required disabled/>
				</div>			
			
			</div>
			<hr/>
			<div class="row" align = "center">
				<input type="submit" class="btn btn-info" value="Update Profile" ng-click="updateProfile(formDetails)"  ng-disabled="homePageRider.$invalid"></input>
			</div>
			<hr/>

		</form>
	</div>
</div>

<!-- BLANK -->
<div class="col-md-3">
</div>
</div>
</body>
</html>