<html lang="en">
<head>
<meta charset="UTF-8">
<title>UBER</title>
<base href="/">

<!-- JS -->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="js/controllers/riderSignupController.js"></script>
<!-- ANGULAR CUSTOM -->

<!-- STYLE SHEETS CUSTOM -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
</head>

<body ng-app="uberApp" ng-controller="riderSignupCtrl">
<div >
<!-- HEADING -->
<header class="bgimage_1">
<div class="container" >
	<div class="row">
		<h2 class="heading" >U B E R</h2>		
	</div>
</div>
</header>		
</div>



<div class="container">
<!-- BLANK -->
<div class="col-md-3">
</div>
<!-- SIDE MENU --> 

<!-- PROFILE -->
<div class="col-md-6">
	<div class="row">
		<h2 align = "center"> <font color="#7CD1FF">SIGN UP TO RIDE</font></h2>
		<p><h4>Welcome to Uber, the easiest way to get around at the tap of a button.</h4></p>
        <p><h4>Create your account and get moving in minutes.</h4></p>		
		<h3 > Account </h3>	
		
		<form name ="riderSignup">			
			<div class = "row">
				<div class="form-group col-xs-3">
					<font color="#7CD1FF">*</font> EMAIL									
				</div>
				<div class="form-group col-xs-10">
					<input class="form-control input" type="email" id="email" name="email" placeholder="name@example.com" ng-model="email" required ng-pattern="^[A-Za-z0-9._]+@[A-Za-z0-9]+\.com$"/>	
						<span style="color:red;" class="error" ng-show="riderSignup.email.$error.email">Not valid email!</span>
				</div>
				</div>
				<div class = "row">
				<div class="form-group col-xs-3">
					<font color="#7CD1FF">*</font> PASSWORD									
				</div>
				
				<div class="form-group col-xs-10">				
					<input class="form-control input" type="password" id="password" name="password" placeholder="atleast 5 Characters" ng-model="password" required ng-minlength="5"/>
						<div role="alert">
							<span style="color:red;" class="error" ng-show="riderSignup.password.$error.minlength">Too short!</span>
				    </div>
				</div>						
			</div>			
		
			<hr/>
			<h3 > Profile </h3>
			<div class = "row">
			<div class="form-group col-xs-1">
			<font color="#7CD1FF">*</font>NAME									
				</div>
			</div>
			
			<div class = "row">
			
			<div class="form-group col-xs-5">
					<input class="form-control input" type="text" id="firstname" name="firstname" placeholder="First Name" ng-model="firstname" required />												
				</div>					
				<div class="form-group col-xs-5">				
					<input class="form-control input" type="text" id="lastName" name="lastname" placeholder="Last Name" ng-model="lastname" required />								
				</div>							
			</div>
			
			<div class = "row">				
				<div class="form-group col-xs-5">	
				<p><font color="#7CD1FF">*</font>MOBILE NUMBER</p>			
				</div>
			</div>

																	
			<div class = "row">
				<div class="form-group col-xs-10">				
					<input class="form-control input" type="text" id="mobile" name="mobile" placeholder="(201) 555 -5555" ng-model="mobile" required ng-minlength="10" ng-maxlength="10"/>
						<div role="alert">
							<span style="color:red;" class="error" ng-show="riderSignup.mobile.$error.minlength">Too short!</span>
							<span style="color:red;" class="error" ng-show="riderSignup.mobile.$error.maxlength">Too Long!</span>
						</div>
				</div>		
			</div>	
		
			
			<div class = "row">				
				<div class="form-group col-xs-1">	
				<p><font color="#7CD1FF">*</font>ADDRESS</p>			
				</div>
				</div>

																	
		 	<div class = "row">
				<div class="form-group col-xs-10">				
					<input class="form-control input" type="text" id="address" name="address" placeholder="Enter valid US Address" ng-model="address" required />								
				</div>		
			</div>	
			
			
			<div class = "row">				
				<div class="form-group col-xs-1">	
				<p><font color="#7CD1FF">*</font>CITY</p>			
				</div>
				</div>
														
			<div class = "row">
				<div class="form-group col-xs-10">				
					<input class="form-control input" type="text" id="city" name="city" placeholder="Enter the city" ng-model="city" required />								
				</div>		
			</div>	
			
			
			<div class = "row">				
				<div class="form-group col-xs-1">	
					<p><font color="#7CD1FF">*</font>STATE</p>			
				</div>
			</div>
												
			<div class = "row">
				<div class="form-group col-xs-10">	
				<select aria-label="State" name="state" ng-model="state">
					<option value="" selected="">Select</option>
					<option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="DC">DC</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
				</select>
				</div>		
			</div>	
			
			<div class = "row">				
				<div class="form-group col-xs-5">	
					<p><font color="#7CD1FF">*</font>POSTAL CODE</p>			
				</div>
			</div>

																	
			<div class = "row">
				<div class="form-group col-xs-10">				
					<input class="form-control input" type="text" id="postalcode" name="postalcode" placeholder="94103" ng-model="postalcode" required ng-pattern="/^[0-9]{5}(-[0-9]{4})?$/"/>
						<div role="alert">
						<span style="color:red;" class="error" ng-show="riderSignup.postalcode.$error.pattern">Invalid postal code: You entered less than 5 digits!</span>
						</div>
				</div>
			</div>	
						
			<hr/>
			
				<div class = "row">				
					<div class="form-group col-xs-1">
						<h3>Payment	</h3>	
					</div>
				</div>
				
				<div class = "row">	
	       			<div class="form-group col-xs-5">
						<font color="#7CD1FF">*</font> CREDIT CARD NUMBER									
					</div>

				
		       		<div class="form-group col-xs-2">
						<font color="#7CD1FF">*</font> CVV									
					</div>
					
					<div class="form-group col-xs-5">
						<font color="#7CD1FF">*</font> CARD HOLDER NAME									
					</div>
						
				</div>
	
			<div class = "row">
				<div class="form-group col-xs-5">
					<input class="form-control input" type="tel" id="card" name="card" placeholder="1234 5678 9012 3456" ng-model="creditcard" required ng-minlength="16" ng-maxlength="16" />
						<div class="credit-card-icon"></div>	
						<div class="error-notice"></div>	
						<div role="alert">
						<span style="color:red;" class="error" ng-show="riderSignup.card.$error.minlength">Incorrect card number: you entered less than 16 digits!</span>
						<span style="color:red;" class="error" ng-show="riderSignup.card.$error.maxlength">Incorrect card number: you entered more than 16 digits!</span>
						</div>
				</div>			
				
								
				<div class="form-group col-xs-2">				
					<input class="form-control input" type="text" id="cvv" name="cvv" placeholder="123" ng-model="cvv" required ng-minlength="3" ng-maxlength="3" />
						<div role="alert">
							<span style="color:red;" class="error" ng-show="riderSignup.cvv.$error.minlength">Incorrect CVV: You entered less than 3 digits!</span>
							<span style="color:red;" class="error" ng-show="riderSignup.cvv.$error.maxlength">Incorrect CVV: You entered more than 3 digits!</span>
						</div>							
				</div>
				
				<div class="form-group col-xs-5">
						<input class="form-control input" type="text" id="cardholder" name="cardholder" placeholder="CARD HOLDER NAME" ng-model="cardholder" required  /></div>	<div class="error-notice"></div>																
					</div>						
			</div>
	
			<div class = "row">	
	    		<div class="form-group col-xs-6">
					<font color="#7CD1FF">*</font> EXPIRATION DATE									
				</div>			
							
			</div>
			<div class = "row">
			<div class="form-group col-xs-6">
			<select aria-label="Month" name="month" ng-model="month">
			<option value="" selected="">Month</option>
			<option value="1">01</option>
			<option value="2">02</option>
			<option value="3">03</option>
			<option value="4">04</option>
			<option value="5">05</option>
			<option value="6">06</option>
			<option value="7">07</option>
			<option value="8">08</option>
			<option value="9">09</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			</select>
			&nbsp;&nbsp;
			<select aria-label="Year" name="year" ng-model="year">
			<option value="" selected="">Year</option>
			<option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option>
			<option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option>
			</select>			
			</div>	       		
			</div>
			
			<div class="row" align = "left">
				<input type="submit" class="btn btn-info"  style="height:30px; width:500px" value="CREATE ACCOUNT" ng-click="createAccount()" ng-disabled="riderSignup.$invalid"></input>
			</div>
			<br/>	
			
			<div class="alert alert-success col-md-12" id="success-alert1" style="display: none ">
			<center> <strong> Successful SIgn up. Please login to proceed</strong></center>
			</div>
			
			<div class="alert alert-failure col-md-12" id="failure-alert" style="display: none ">
			<center> <strong> Email ID already exists. Please enter a correct Email. </strong></center>
			</div>
			
			<p align="center" class="text-muted">Please fill out all required ( <font color="#7CD1FF">*</font>) fields.</p>
			<p class="text-muted">By clicking <strong>Create Account</strong> , you agree to Uber's Terms and Conditions and Privacy Policy.</p>
      
			<hr/>

		</form>
	</div>
</div>

<!-- BLANK -->
<div class="col-md-3">
</div>
</div>
</body>
</html>