<!-- PROFILE -->
<div ng-controller="documentUploadCtrl">
<div class="col-md-1">
</div>
<div class="col-md-1">
</div>
<div class="col-md-4">
	<div class="row">
		
		</div>
		&nbsp &nbsp
		
		<form>
			<div class = "row">
				<div class="form-group col-xs-6">
					DRIVER'S LICENSE								
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-6">
				<input type ="file" name = "license" ng-model = "formDetails.license">
				</div>
				<br>
			</div>
			<hr/>
			
			<div class = "row">
				<div class="form-group col-xs-6">
					PASSPORT FRONT PAGE								
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-xs-6">
					<input type ="file" name = "passport" ng-model = "formDetails.passport">
				</div>
				
				
				
				<br>
			</div>
			<hr/>
			
			<div class="row" align = "center">
			<input type="submit" class="btn btn-info" value="SAVE & CONTINUE" ng-click="saveAndContinue()"></input>
		</div>
		<hr/>
		</div>
		</form>
	


<!-- BLANK -->
<div class="col-md-3">
</div>
</div>

