
<div class="col-md-1">
	<div>
		<div class="profile-sidebar_2">
			<!-- SIDEBAR MENU -->
			<div class="profile-userpic">
				<img src="../images/default.jpeg" alt="">
				<h5 align="center">UserName</h5>
			</div>
			<hr />

			<div class="profile-usermenu">
				<ul class="nav">

					<!-- BOOK A RIDE -->
					<li><a href="/bookRide"> Book Ride </a></li>

					<!-- MY TRIPS -->
					<li><a href="/tripsPage"> My Trips </a></li>

					<!-- VIEW MY PROFILE -->
					<li><a href="/homePageRider"> Profile </a></li>

					<!-- PAYMENT -->
					<li><a href="/paymentPage"> Payment </a></li>


					<!-- FREE RIDES -->
					<li><a href="#"> Free Rides </a></li>


					<!-- LOGOUT -->
					<li><a href="/logout"> Logout </a></li>

				</ul>
			</div>
		</div>
	</div>
	<!-- END MENU -->
</div>