<header class="bgimage_1">
	<div class="container-fluid" >
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-1">
				<a href="/homepage"> <img src="../images/facebookLogo1.png"
					alt="logo"
					style="margin-left: 50px; width: 40px; height: 40px; margin-top: 15px;"></img>
				</a>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<form class="navbar-form navbar-left" role="search">
					<input type="text" class="form-control" placeholder="Search"
						name = "search1" ng-model="search1">
						<preview>
							{{search1}}
						</preview>
					<button type="submit" ng-click="searchFunc();" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
			</div>
							
			<div class="col-md-2">
				<form action="logout" method="post">
					<div style="padding-top: 20px">
						<input type="submit" value="Logout" class="btn btn-success" />
					</div>
				</form>
			</div>
			
			
			
		</div>
	</div>
</header>