<div ng-app="facebook" ng-controller = "SidebarController" >
	<div class="profile-sidebar_2">
		<!-- SIDEBAR MENU -->
		<div class="profile-usermenu">
			<ul class="nav">
				<!-- VIEW MY PROFILE -->
				<li><a href="/userProfile/me"> <i
						class="glyphicon glyphicon-home"></i> Your Profile
				</a></li>

				<!-- EDIT MY PROFILE -->
				<li><a href="/editProfile"> <i
						class="glyphicon glyphicon-user"></i> Edit Profile
				</a></li>

				<!-- MY GROUPS -->
				<li><a href="/createGroups"> <i
						class="glyphicon glyphicon-ok"></i> Groups
				</a></li>
				<li><a href="#"> <i class="glyphicon glyphicon-flag"></i>
						Help
				</a></li>
			</ul>
		</div>
		<!-- END MENU -->
	</div>
</div>