<div ng-controller="RiderControllerAdmin" ng-init="getAllURiders();">
<h2 align>
	<strong>DRIVER DETAILS</strong>
</h2>
<hr />
<div class="row" align="center">
	<h4 align>
		<strong>SEARCH OPTIONS</strong>
	</h4>
	<label>All <input class="form-control input-sm"
		ng-model="search.$"></label>
		<label>ID <input class="form-control input-sm"
		ng-model="search.customer_id"></label>
		 <br /> <label>First Name <input
		class="form-control input-sm" ng-model="search.firstname"></label> <label>Last
		Name <input class="form-control input-sm" ng-model="search.lastname">
	</label> <label>Phone<input class="form-control input-sm"
		ng-model="search.phone"></label> <br> <label>City<input
		class="form-control input-sm" ng-model="search.city"></label> <label>ZipCode<input
		class="form-control input-sm" ng-model="search.zip"></label> <label>State
		<input class="form-control input-sm" ng-model="search.state">
	</label><br>
</div>
<div class="row">
	<h3 align>
		<strong>RIDER DETAILS</strong>
	</h3>
	<br />
	<table class="table table-striped hover">
		<tr>
			<th colspan="1">ID</th>
			<th colspan="1">Name</th>
			<th colspan="1">Email Address</th>
			<th colspan="1">City</th>
			<th colspan="1">Zip</th>
			<th colspan="1">State</th>
			<th colspan="1">Phone number</th>
			<th colspan="1">Status</th>
		</tr>
		<tbody>
			<tr ng-repeat="rider in allURidersList | filter:search">
				<td>{{rider.customer_id}}</td>
				<td>{{rider.firstname}} {{rider.lastname}}</td>
				<td>{{rider.email}}</td>
				<td>{{rider.city}}</td>
				<td>{{rider.zip}}</td>
				<td>{{rider.state}}</td>
				<td>{{rider.mobile}}</td>
				<td><button class="btn btn-primary" ng-click='approveRider(rider.email);'>Approve</button></td>
			</tr>
		</tbody>
	</table>
</div>
</div>