<div class="col-md-5" ng-controller="getTrips" ng-init="getTripDetails();">
<h2 align>
	<strong>YOUR TRIP HISTORY</strong>
</h2>
<hr />
<div class="row">
	<br />
			<table class="table table-striped hover">
		<tr>
			<th colspan="1">#</th>
			<th colspan="1">rideID</th>
			<th colspan="1">Drive Email</th>
			<th colspan="1">Rider Email</th>
			<th colspan="1">Distance</th>
			<th colspan="1">PRICE</th>			
		</tr>
		<tbody>
			<tr ng-repeat="ride in allTripslist"
				ng-click='setID(ride.RIDE_ID);goNext("/getrideDetailsPage/");'>
				<td>{{$index+1}}</td>
				<td>{{ride.RIDE_ID}}</td>
				<td>{{ride.DRIVER_ID}} </td>
				<td>{{ride.CUSTOMER_ID}}</td>
				<td>{{ride.DISTANCE}}</td>
				<td>{{ride.PRICE}} </td>				
			</tr>
		</tbody>
	</table>
</div>
</div>